# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

linked_lists/cpp/externals/
linked_lists/cpp/.vs/
linked_lists/cpp/.vs/CMake Overview
linked_lists/cpp/out
linked_lists/cpp/CMakeCache.txt
linked_lists/cpp/CMakeFiles/
linked_lists/cpp/CMakeSettings.json
linked_lists/cpp/build.ninja
linked_lists/cpp/cmake_install.cmake
linked_lists/cpp/linked_lists/cmake_install.cmake
linked_lists/cpp/rules.ninja
linked_lists/cpp/tests/cmake_install.cmake
linked_lists/cSharp/cSharp/obj/
linked_lists/cSharp/.vs/
linked_lists/cSharp/cSharp/bin/
